@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: repeating-linear-gradient();
        background-image: url('../../assets/frontpage.jpg');
    }
</style>

<div class="jumbotron">
    <h1><b>Entertainment Tracker</b></h1>
    <p class="lead">Track your Books, Movies, Shows and Theater Productions.</p>

    @*<form class="form-inline active-cyan-4">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
               aria-label="Search">
        <i class="fas fa-search" aria-hidden="true"></i>
    </form>*@
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Books</h2>
        <p>Add your books here!</p>
        <p><a class="btn btn-default" href="ActionLink("Books", new { id = item.BookID }>BOOKS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>Add your movies here!</p>
        <p><a class="btn btn-default" href="Movie">Movies &raquo;</a></p>
        <img src="#" alt="MOVIES" />
    </div>
    <div class="col-md-4">
        <h2>Shows</h2>
        <p>Add your shows here!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Theater Productions</h2>
        <p>Add your theater productions here!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Comments</h2>
        <p>Add your comments here!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@